server {
  <!-- server will listen to incoming request at port 80 which is the default http port-->
  <!-- we access  any site on the internet, we are accessing on port 80 -->
  listen 80;
  <!-- this will forward the ip address of the requester over to our flask app -->
  <!-- Nginx will tell our flask app who made the request -->
  real_ip_header X-Forwarded-For;
  <!-- nginx will tell us the request is coming from the localhost -->
  set_real_ip_from 127.0.0.1;
  server_name localhost;

<!-- whenever someone the root location of the server, it's going to redirect them somewhere
which is our flask app -->
location / {
  <!-- we are running our app using uwsgi, which is a program that allows our app to run mult-thread -->
  <!-- more efficiently and restart threads as they fail if they fail -->
  include uwsgi_params;
  <!-- it is going to pass through this part all the necessay parameters
  and this the connection point between our app and Nginx -->
  uwsgi_pass unix:/var/www/html/items-rest/socket.sock;
  <!-- this tells the thread when to die if they become block -->
  uwsgi_modifier1 30;
}
<!-- if we return a 404 page we tell Nginx to return 404 page -->
error_page 404 /404.html;
 <!-- it will return the 404.html page from this path -->
location = /404.html {
  root /usr/share/nginx/html;
}

error_page 500 501 502 503 504 /50x.html;
location = /50x.html {
  root /usr/share/nginx/html;
}
}



server {
  listen 80;
  real_ip_header X-Forwarded-For;
  set_real_ip_from 127.0.0.1;
  server_name localhost;


location / {
  include uwsgi_params;
  uwsgi_pass unix:/var/www/html/items-rest/socket.sock;
  uwsgi_modifier1 30;
}

error_page 404 /404.html;
location = /404.html {
  root /usr/share/nginx/html;
}

error_page 500 501 502 503 504 /50x.html;
location = /50x.html {
root /usr/share/nginx/html;
}
}